
body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background-color: #ffffff00;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
}

.content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content h2 {
  margin-top: 0;
}

.content .add-button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.table th, .table td {
  vertical-align: middle;
}
