<nav class="navbar sticky-top rounded-0 shadow bg-primary text-start" data-bs-theme="dark"
    style="background-color: var(--bs-primary) !important;">
    <div class="container-fluid text-start">

        <div>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <span class="material-icons" style="color: #ffffff;">menu</span>
            </button>
        </div>

        <div>
            <button type="button" class="btn fs-5 material-icons perfil" style="color: white;">
                <span class="material-symbols-outlined">
                    notifications
                </span>
            </button>
            <img src="/assets/images/image.png" height="50px" width="70px" class="mx-auto">
        </div>

    </div>
</nav>