<div class="offcanvas offcanvas-start d-flex flex-column flex-shrink-0 p-3 bg-light" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel" style="width: 280px;">

    <p class="align-items-center text-center">
        <img src="/assets/images/image.png" alt="" width="80" height="50" class="rounded-circle me-4">
    </p>

    <p class="align-items-center text-center"><span class="fs-4">Unifacol</span></p>
    <p class="align-items-center text-center"><span class="fs-4">2024.02</span></p>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto text-start" id="nav-items">
        <a href="/dashboard" class="btn text-start botao-href">
            <li class="nav-item">
                <span class="input-group-text" style="background:transparent; border-width:0">
                    <span class="material-symbols-outlined">home </span> Home</span>
            </li>
        </a>

        <a href="/equipamentos" class="btn text-start botao-href">
            <li class="nav-item">
                <span class="input-group-text" style="background:transparent; border-width:0">
                    <span class="material-symbols-outlined">devices</span> Equipamentos</span>
        </a>

        <a href="/ticket" class="btn text-start botao-href">
            <li class="nav-item">
                <span class="input-group-text" style="background:transparent; border-width:0">
                    <span class="material-symbols-outlined">confirmation_number </span> Tickets</span>
        </a>

        <a href="/movimentacao" class="btn text-start botao-href">
            <li class="nav-item">
                <span class="input-group-text" style="background:transparent; border-width:0">
                    <span class="material-symbols-outlined">download </span> Entrada/Saída</span>
            </li>
        </a>

        <a href="/usuario" class="btn text-start">
            <li class="nav-item">
                <span class="input-group-text" style="background:transparent; border-width:0"><span
                        class="material-symbols-outlined">person
                    </span>
                    Usuario</span>
            </li>
        </a>
    </ul>
    <hr>
    <div class="dropdown" id="nav-out">
        <button type="submit" class="btn"><span class="input-group-text"
                style="background:transparent; border-width:0"><span
                    class="material-icons">logout</span>Sair</span></button>
    </div>

</div>